@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer base {
  input,
  select,
  textarea {
    @apply bg-gray-500 text-white border border-gray-600 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}



.dark {
  --background: #a09595;
  --foreground: #ededed;
}

.light {
  --background: #4d4d52;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

